.nav-button {
  width: 50px;
  height: 50px;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border-radius: 50%;
  background: var(--color-button);
  color: var(--color-text);
  cursor: pointer;
  z-index: 10;

  &-selected {
    background: var(--color-block);
    color: var(--color-icon);
  }
}

.nav-button svg {
  position: fixed;
}

.nav-button--title {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  color: var(--color-icon);
  font-size: 1rem;
  line-height: 50px;
  font-weight: 600;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 0 25px 0 50px;
  height: 50px;
  margin: 0;
  background-color: var(--color-block);
  opacity: 0;
  overflow: hidden;
}

.nav-button--title-show {
  animation: title-show .5s forwards;
}

.nav-button--title-done {
  opacity: 1;
  transform: translateX(0);
}

.nav-button--title-hide {
  animation: title-hide .5s forwards;
}

@keyframes title-show {
  0% {
    opacity: 0;
  }


  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes title-hide {
  0% {
    opacity: 1;
    transform: translateX(0);
  }



  100% {
    opacity: 0;
    transform: translateX(0);
  }
}