@import './variable';

.title {
  font-family: 'Poppins', sans-serif;
  opacity: 0;
  transform: translateY(-120%);
  transition: all .8s ease .0s;

  &-orange {
    color: $px-main;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-fs16 {
    font-size: 1rem;
  }
}

.title._active {
  opacity: 1;
  transform: translateY(0);
}