@import './variable';

.title {
  font-family: 'Poppins', sans-serif;

  &-orange {
    color: $px-main;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-fs16 {
    font-size: 1rem;
  }
}
