@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import './assets/title';

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

:root {
  font-size: 1em;
}

body[data-theme='dark'] {
  --color-text: #fff;
  --color-block: #ffb400;
  --color-bg: url('./images/bg/bg-portfolio.jpg');
  --photo: url('./images/person/person-dark.jpg');
  --color-title: hsla(0, 0%, 100%, 0.07);

  --color-box: #252525;

  --color-button: #2b2a2a;
  --color-icon: #fff;
  --shadow: rgb(255, 180, 0, 0.5) 0 0 7px;
}

body[data-theme='light'] {
  --color-text: #666;
  --color-bg: #fff;
  --color-block: #72b526;
  --photo: url('./images/person/person-light.jpg');
  --color-title: rgba(30, 37, 48, 0.07);

  --color-box: #ddd;

  --color-button: #eee;
  --color-icon: #fff;
  --shadow: rgb(114, 182, 38, 0.9) 0 0 7px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--color-bg);
  background-position: fixed;
  background-size: cover;
  color: var(--color-text);
  box-sizing: border-box;
  transition: all 0.2s linear;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}